.di {
  text-align: center;
  border-bottom: 10px #37f;
  box-shadow: 3px 0px 5px grey;
  background-color: black;
}
#list {
  list-style-type: none;

  display: inline-block;
  color: white;
  padding: 5px 30px;
}
li {
  list-style-type: none;
  cursor: pointer;
  padding: 5px 30px;
  color: white;
  display: inline-block;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
ul li:hover {
  background-color: blue;
  font-weight: bold;
}

.img {
  display: block;
  width: 60%;
  height: 60%;
  padding-left: 20%;
}
